{
    "presto": {
        "endpoint": "http://127.0.0.1:8080/v1/query"
    },
    "elasticsearch": {
        "hosts": ["127.0.0.1"],
        "port": 9200,
        "scheme": "http",
        "username": "",
        "password": "",
        "index": "presto_queries"
    },
    "log": {
        "filename": "logs/queryexporter.log",
        "level": "info",
        "interval": 1,
        "backup_count": 30
    },
    "cache_file": "queries.cache",
    "schedule": {
        "query_export": 1,
        "clear_cache": 1
    },
    "expire": 1440
}
